<% provide(:title, 'Quartos Recém Postados') %>
<h1 class="title">
	Quartos recém postados 
	<span class="btn btn-alert btn-small"><%= recent_rooms %></span>
</h1>

<%= render partial: "rooms/room", collection: @rooms %>